apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: minio-operator
  namespace: argocd
  annotations: 
    argocd.argoproj.io/sync-wave: "0"
  # Ensures resources are cleaned up before deletion
  # This finalizer is added by Argo CD to ensure that resources are cleaned up before the application is deleted.
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: system
  source:
    chart: operator # minio-operator
    repoURL:  https://operator.min.io/
    targetRevision: 7.1.0
    helm:
      # The name of the release. This is used to name the resources created by the chart.
      # If not set, the name of the chart will be used instead.
      releaseName: minio-operator
      parameters:
        - name: operator.replicaCount
          value: '1'
        - name: operator.resources.requests.cpu
          value: 400m
        - name: operator.resources.requests.memory
          value: 512Mi      
      #valueFiles:
      #- values-operator.yaml
      ignoreMissingValueFiles: true  
      version: v3
  destination:
    namespace: minio-operator
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true    
