apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: minio-tenant
  namespace: argocd
  # Ensures resources are cleaned up before deletion
  # This finalizer is added by Argo CD to ensure that resources are cleaned up before the application is deleted.
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: system
  source:
    chart: tenant # minio-tenant
    repoURL:  https://operator.min.io/
    targetRevision: 7.1.0
    helm:
      releaseName: minio-tenant
      version: v3
      valuesFiles:
        - ../values-tenant.yaml
      ignoreMissingValueFiles: true
  destination:
    namespace: minio-tenant
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true  
